{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.13.0"}, {recon, "2.5.6"}, observer_cli]}.

{relx, [
    {release, {hacker_news_aggregator, "0.1.0"}, [hacker_news_aggregator]},

    {sys_config, "config/sys.config"},

    {dev_mode, true},
    {include_erts, false}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [hacker_news_aggregator]}
]}.

{project_plugins, [erlfmt]}.
